* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: "Montserrat", sans-serif;
  font-size: max(1.2vh, 1.2vw);
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.nav-container {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;

  width: 100%;

  justify-content: space-between;
  align-items: center;
  color: white;
}

.nav-title {
  font-size: 10vw;
}

li {
  list-style-type: none;
  display: inline;
  font-size: 5vw;
  margin-right: 5vw;
}

.nav-item {
  display: inline-block;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
}

.outline {
  position: absolute;
  top: -20px;

  width: 100%;
  border: max(0.75vh, 0.75vw) solid white;
}

.nav-selector-container {
  font-size: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  display: flex;
  justify-content: center;
  flex-direction: row;
  /* width: 40%;  */
}

.nav-books {
  font-size: inherit;
  padding-right: 15vw;
}

.nav-audio {
  padding-left: 15vw;
  padding-right: 15vw;
  font-size: inherit;
}
.list {
  overflow-x: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: visible;
  /* flex-wrap: wrap; */
  margin-left: 10vw;
  margin-right: 10vw;
  width: 100%;
}
.search-container {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 3vh;
  background-color: black;
  border-radius: 6px;
  overflow: visible;
  overflow-y: hidden;
}
.input-container {
  width: 100%;
  min-height: 3vh;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1vw;
}
.search-icon {
  margin-left: 5%;
}
.search {
  color: rgb(131, 114, 114);
  border-radius: 6px;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 200%;
}

.search:focus {
  outline: none;
}

.item-container {
  width: 100%;
  max-height: 5vh;

  display: flex;
  border-bottom: 2px solid, lightgray;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 6px 8px;
  align-items: center;
  overflow: hidden;
}

.card-container {
  /* justify-self: flex-start; */
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  background-color: black;

  width: min(20vw, 20vh);
  height: min(40vh, 40vw);
}

.card {
  background-color: none;

  color: black;
  padding: 20px;
  flex-shrink: 0;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  text-align: center;
  flex-wrap: nowrap;
}

.card-title {
  /* font-size: 1.2em;/ */
  overflow-wrap: break-word;
  background-color: inherit;
}

.info-container {
  background-color: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: flex;
  flex-shrink: 2;
}

.author {
  background-color: inherit;
  /* font-size: 1.2em; */
}
